
<input id="productServiceUrl" type="hidden" value="{{path('distributium_frontend_category_showproducts', { 'category': category.id })}}"></input>
{# Bootstrap accordion #}
<div class="row">
    <div class="col-md-12 menu_filter">
        <div class="menu_filter_title">
            {#<p class="text-6"></p>#}
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


          <div class="panel panel-default">
            <div class="panel-heading menu_filter_title" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Hotel Rooms
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body lodgingSizes">
                  {% for lodgingSizeValue,lodgingSizeName in lodgingSizes%}
                      <div class="filter_option hotel group">
                          <label><input id="ls_{{lodgingSizeName}}" type="checkbox" name="{{lodgingSizeValue}}" /><span class="hotel-2">{{lodgingSizeName}}</span></label>
                      </div>
                  {% endfor %}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading menu_filter_title" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Hotel type
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body lodgingTypes">
                  {% for lodgingType in lodgingTypes%}
                      <div class="filter_option hotel group">
                          <label><input id="lt_{{lodgingType.id}}" type="checkbox" name="{{lodgingType.id}}" /><span class="hotel-2">{{lodgingType.name}}</span></label>
                      </div>
                  {% endfor %}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading menu_filter_title" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  Hotel Rating
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body lodgingCategories">
                  {% for lodgingCategoryValue,lodgingCategoryName in lodgingCategories %}
                      <div class="filter_option hotel group">
                          <label><input id="lc_{{lodgingCategoryName}}" type="checkbox" name="{{lodgingCategoryValue}}" /><span class="hotel-2">{{lodgingCategoryName}}</span></label>
                      </div>
                  {% endfor %}
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading menu_filter_title" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Location
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                  <div class="filter_option hotel group">
                      <label><span class="hotel-2">Caribbean</span></label>
                  </div>
                  <div class="filter_option hotel group">
                      <label><span class="hotel-2">Central America</span></label>
                  </div>
                  <div class="filter_option hotel group">
                      <label><span class="hotel-2">South America</span></label>
                  </div>
                  <div class="filter_option hotel group">
                      <label><span class="hotel-2">North America</span></label>
                  </div>
                  <div class="filter_option hotel group">
                      <label><span class="hotel-2">Asia</span></label>
                  </div>
                  <div class="filter_option hotel group">
                      <label><span class="hotel-2">Europe</span></label>
                  </div>
                  <div class="filter_option hotel group">
                      <label><span class="hotel-2">Africa</span></label>
                  </div>
                  <div class="filter_option hotel group">
                      <label><span class="hotel-2">UK</span></label>
                  </div>
              </div>
            </div>
          </div>


    </div>
  </div>
</div>
