{% extends "::base.html.twig" %}

{% block title %}DistributiumFrontendBundle:Quiz:home{% endblock %}






{% block body %}

<div class="row quiz_results">
    <div class="col-md-10 col-md-offset-1">
        <div class="row text-center services-integration">
            {{ sonata_page_render_container('results_integration_top') }}
        </div>
        <div class="row section-form2 text-center interested-tools">
            <div class="row categories">
                <div id="4"  class="col-md-2 col-md-offset-2">Revenue Management Sys</div>
                <div id="3"  class="col-md-2">Property Management Sys</div>
                <div id="1"  class="col-md-2">Channel Manager</div>
                <div id="2"  class="col-md-2">Internet Booking Engine</div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-12>
                  {% for result in results %}
                    <div class="row">
                      <div class="col-md-2 col-md-offset-2">{{result.rms_name}}</div>
                      <div class="col-md-2">{{result.pms_name}}</div>
                      <div class="col-md-2">{{result.cm_name}}</div>
                      <div class="col-md-2">{{result.ibe_name}}</div>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var quizHome = {};
    </script>
    {{ parent() }}
    <script src="{{ asset('assetic/distributium_quiz_js.js') }}" type="text/javascript"></script>
{% endblock %}

