{% extends "::base.html.twig" %}

{% block title %}DistributiumFrontendBundle:Quiz:home{% endblock %}






{% block body %}

<div class="row quiz_results">
    <div class="col-md-10 col-md-offset-1">
        <div class="row text-center services-integration">
            {{ sonata_page_render_container('results_integration_top') }}
        </div>
        <br/>
        <br/>
        <div class="row section-form2 text-center interested-tools">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th><input type="checkbox"/></th>
                <th class="text-center">Revenue Management Sys</th>
                <th class="text-center">Property Management Sys</th>
                <th class="text-center">Channel Manager</th>
                <th class="text-center">Internet Booking Engine</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results %}
                <tr>
                  <th><input type="checkbox"/></th>
                  <td>{{result.rms_name}}</td>
                  <td>{{result.pms_name}}</td>
                  <td>{{result.cm_name}}</td>
                  <td>{{result.ibe_name}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>


          <br/>
          <br/>
          <br/>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var quizHome = {};
    </script>
    {{ parent() }}
    <script src="{{ asset('assetic/distributium_quiz_js.js') }}" type="text/javascript"></script>
{% endblock %}

